@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: $bg;
  color: $primary;
  font-family: $font-family;
  letter-spacing: 0.5px;
  // height: 100vh;
  overflow-x: hidden;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
  flex: 1;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
}

.primary-button {
  background: $primary;
  color: $bg;
  border: none;
  padding: 15px 20px;
  border-radius: $radius;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $primary-muted;
  }
}
