$primary: #121212;
$secondary: #005a70;
$danger: #d32f2f;
$bg: #f5f5f5;
$border: #c4c7c7;

$primary-muted: #444748;
$primary-light: #e4e4e4;

$font-family: Inter, sans-serif;

$container-width: 1280px;

$radius: 8px;

$breakpoint-mobile: 768px;

$breakpoint-tablet: 1024px;
