@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.productCategory {
  font-size: 1rem;
  color: $primary-muted;
  text-transform: uppercase;
  font-weight: 500;
}

.productTitle {
  font-size: 2.7rem;
  font-weight: 700;
  color: $primary;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 20px;

  .currentPrice {
    font-size: 1.3rem;
    font-weight: 700;
    color: $secondary;
  }

  .originalPrice {
    font-size: 1rem;
    color: $primary-muted;
    text-decoration: line-through;
  }

  .sale {
    background-color: $secondary-muted;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.sectionTitle {
  font-size: 0.8rem;
  font-weight: 600;
  color: $primary-muted;
  text-transform: uppercase;
}

.colorsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.colorsContainer {
  display: flex;
  gap: 10px;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $border;
    padding: 2px;
    cursor: pointer;
  }
}

.sizesSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sizesContainer {
  display: flex;
  gap: 10px;

  button {
    padding: 10px 20px;
    border: 1px solid $border;
    border-radius: 5px;
    cursor: pointer;
    background-color: $bg;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.8;
    }

    &:hover {
      border-color: $secondary;
    }

    &[data-active="true"] {
      border-color: $secondary;
      color: $secondary;
      font-weight: 700;
    }
  }
}

.lowStock {
  color: $danger;
  font-size: 14px;
  font-weight: 500;
}

.availableStock {
  color: $primary-muted;
  font-size: 14px;
  font-weight: 500;
}

.addToCartContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 150px;
  border: 1px solid $border;
  border-radius: $radius;
  padding: 10px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary;
    padding: 10px;
    height: 30px;
    width: 30px;
    @include flex-center;
    border-radius: $radius;

    &:hover {
      background-color: $border;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.deliverySection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shippingInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: $primary-muted;
}

.estimatedDelivery {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: $primary-muted;
}

@media (max-width: $breakpoint-mobile) {
  .productInfo {
    gap: 15px;
  }
}
