@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.navbar {
  max-width: $container-width;
  margin: 0 auto;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: $primary;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    display: block;
  }

  .navRight {
    display: flex;
    align-items: center;
    gap: 2rem;

    .cartBtnContainer {
      position: relative;

      div {
        position: absolute;
        right: -10px;
        top: -10px;
        font-size: 0.7rem;
        font-weight: 600;
        border-radius: 100%;
        background-color: $secondary;
        color: $bg;
        padding: 2px;
        height: 18px;
        width: 18px;
        @include flex-center;
      }
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .navbar {
    .logo {
      font-size: 1.5rem;
    }
  }
}
