@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.productDetailHeroWrapper {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 40px;
}

.errorContainer {
  @include flex-center;
  color: $danger;
}

@media (max-width: $breakpoint-mobile) {
  .productDetailHeroWrapper {
    grid-template-columns: 1fr;
  }
}
