@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.accordionItem {
  border: 1px solid $border;
  border-radius: $radius;
  overflow: hidden;
  background-color: #fff;
}

.accordionItemHeader {
  background-color: #fff;
  width: 100%;
  border: none;
  // background-color: $bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  span {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

.accordionContent {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.25s ease;

  > div {
    overflow: hidden;
    min-height: 0;
    padding: 0 16px;

    p {
      font-size: 0.95rem;
      line-height: 1.5;
    }
  }
}

.accordionContentOpen {
  grid-template-rows: 1fr;
  padding-bottom: 16px;
}
